.psico-bar {

    background-color: #FF1694;
    width: 100%;
    align-self: left;
    text-align: left;
    box-sizing: inherit;
    font-size: 21px;
    letter-spacing: .5px;
    color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}