<div>
    <h3>Test</h3>
    <img src="https://i.pinimg.com/originals/43/34/64/4334642b9fad260cc116ffae231f1e28.png" class="rounded mx-auto d-block test-img">
    
</div>

<div class="tab-header clearfix">
    
    <h3>Formulario</h3>

    <div class="card">
        <div class="card-body">
            <form [formGroup]="formTemplate" class="container"
                (ngSubmit)="getResult(formTemplate.value)">

                <div class="form-group">
                    <p>1. ¿{{test.question1}}?</p>
                    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="Si" name="answer1" formControlName="answer1">
                        <label for="Si">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="No" name="answer1" formControlName="answer1">
                        <label for="No">No</label>
                    </div>
                    <div class="text-danger"
                        *ngIf="isSubmitted && formControls.answer1.errors?.required">Required
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <p>2. ¿{{test.question2}}?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="Si" name="answer2" formControlName="answer2">
                        <label for="Si">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="No" name="answer2" formControlName="answer2">
                        <label for="No">No</label>
                     </div>
                    <div class="text-danger"
                        *ngIf="isSubmitted && formControls.answer2.errors?.required">Required
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <p>3. ¿{{test.question3}}?</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="Si" name="answer3" formControlName="answer3">
                        <label for="Si">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="No" name="answer3" formControlName="answer3">
                        <label for="No">No</label>
                     </div>
                    <div class="text-danger"
                        *ngIf="isSubmitted && formControls.answer3.errors?.required">Required
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-block btn-primary w-75 px-4 py-2 rounded mx-auto d-block">Enviar</button>
                
            </form>
        </div>
    </div>
</div>